 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

header {
        margin-left: 44px;
        margin-top: 10px;
        

}

.link-menu {
             font-weight: 400;
             font-size: 14px;
             line-height: 21px;
             text-align: center;
             letter-spacing: 0.875px;
             color: #17233d;
             margin-right: 32px;
             cursor: pointer;
             
             
}

.button-sign-up {
                background: #6fbf44;
                border: 1px solid #4cb538;
                border-radius: 6px;
                width: 70px;
                height: 32px;
                cursor: pointer;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 1px;
                color: #ffffffff;
}

img {
      margin: 90px 0 0 60px;
      display: inline-block;
}

div {
      display: inline-block;
      margin-left: 82px;
      width: 493px;
}


h1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.596154px;
    color: #161A49;
    font-weight: bold;
    
}

p {
   font-weight: 400;
   font-size: 18px;
   line-height: 33px;
   letter-spacing: 0.5px;
   color: #4b505a;
   width: 493px;
   margin-top: 47px;
   margin-bottom: 55px;
}

.Link-Learn-more {
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 27px;
                  letter-spacing: 1px;
                  color: #6fbf44;
                  cursor: pointer;    
                  border: none;        
                  background: transparent;  
      
}

@media screen and (max-width: 680px) and (orientation:portrait){
   
   img {
          display: block;
          position: relative;
          top: 434px;
          width: 375px;
          height: 321px;
   }

   header {
             display: none;
   }

   main {
            height: 60%;
   }

   div {
           display: block;
           text-align: center;
           margin: -330px 4px 0 7px;
   }

   p {
      font-size: 18px;
      line-height: 26px;
      text-align: center;
      width: 370px;
      margin: 0 auto;
      margin-bottom: 17px;
   }

   h1 {
          display: block;
          margin-top: 80px ;
          text-align: center;
          margin-bottom: 26px;
          font-size: 40px;
          line-height: 60px;
   }


}

@media screen and (max-width: 330px) and (orientation:portrait){
         
     main {
             height: 50%;
             width: 50%;
     }

}

@media screen and (max-width: 320px) and (orientation:portrait){
   
   main {
           height: 50%;
           width: 50%;
   }
}